.block{
	background: #eee;
	border: 1px solid #ccc;
}
div {
	/*border: 2px groove grey;*/
	color: #7f8c8c;
}
h3 {
	/*margin-top: 35px;
	margin-left: 165px;*/
	margin-bottom: 135;
}
.main {
	margin-left: 152px;
}
.content {
	margin-left: 165px;
}
a {
	margin-bottom: 24px;
}

a:link {
  color: #76c7c0; 
  
}
a:visited {
  color: #76c7c0;
}
a:hover {
  color: #96d4cf; 
  border-bottom: .07em dashed;
}
a:active {
  color: #497DDD; 
  border-bottom: 1px dashed;
}

.btn-send {
	display:block;
    height: 54px;
    width: 200px;
    text-align:center;
    font-size: 20px;
    text-transform: uppercase;
}
input {
	height: 38px;
    width: 470px;
	border-radius: 5px;
	margin: 9px auto;
}
textarea {
	height: 240px;
    width: 870px;
    border-radius: 5px;
    margin: 9px auto;
}
.imgdoc {
	height: 70px;
    width: 70px;
}
.name-post-and-tags{
	margin-left: 20px;
	vertical-align: middle;
	line-height: 30px;
}
.name-post{
	font-size: 150%;
	color: #76c7c0;
}
.post-and-tags > a{
	color: #e8645a;
}
.post-and-tags > i{
	color: #76c7c0;
}
/*.nav-pills > .active > a{
	background-color: #62a29e !important;
}*/

.imgblog {
	height: 600px;
    width: 800px;
    margin: 0; 
    margin-bottom: 40px;
    position: relative;
}
.btn1{
	position: absolute;
	top: 50%;
	left: 10px;
	z-index: 5;	
}
.btn2{
	position: absolute;
	top: 50%;
	right: 10px;
}
.text {
	margin-left: 10px;
}