<DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <!--[if lt IE 9]-->
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <!--[endif]-->
  </head>
  <body ng-app="blogApp">
    
	<div class="container-fluid">
    	<div class="row">
    		<div class="col-sm-12 block">
    			<div class="row">
      				<div class="col-xs-12 block">
        				header
      				</div>
    			</div>
    			<div class="row">
      				<div class="col-xs-12 col-sm-8 block">
        				
                <div class="main">
                <h3>BLOG</h3>
                <div class="row">
      				<div class="col-xs-2 imgdoc">
        				<img src="img/doc.png">
      				</div>
      				<div class="col-xs-10 name-post-and-tags">
        				<p class="name-post">
                    		<a href="#">Duis dapibus aliquam mi, eget euismod sem scelerisque ut.</a> 
                    	</p>
                    	<p class="post-and-tags">
                        	25 May 2013, Posted by <a href=""> Admin</a> in <a href=""> Wordpress</a> <i class="glyphicon glyphicon-tags" aria-hidden="true"></i> <a href="">Design,</a> <a href="">Template</a> <i class="glyphicon glyphicon-bookmark" aria-hidden="true"></i> <a href="">22</a>
                    	</p>
      				</div>
    			</div>
                  	<!--<span class="imgdoc">
                    	<img src="img/doc.png">
                  	</span>
                     <span>
                    <a href="#">Duis dapibus aliquam mi, eget euismod sem scelerisque ut.</a> 
                    <span>
                        25 May 2013, Posted by <a href=""> Admin</a> in <a href=""> Wordpress</a> Design, Template 22
                    </span>
                      </span>-->  
                        <div>
                          BLOGPAGE alideshow
                              <div>
                              <div class="imgblog">
                                <button class="btn1 btn-danger"><<</button><span><img src="img/blogimg.jpg" class="imgblog" title="blogimg"></span><button class="btn2 btn-danger">>></button>
                              </div>
                                <span class="text">
                             О идеальной вёрстке можно говорить бесконечно, напишу о том, с чем я чаще всего сталкиваюсь:
                             Кроссбраузерность
                            Обычно я проверяю, как отображается наш сайт в последних сборках Firefox, Opera, IE, Chrome (если вы ориентируетесь только на русскую аудиторию — актуальная статистика по браузерам для рунета). Затем используя multi IE, проверяю как сайт выглядит в версиях до 6 включительно (В 6 версии устраняю только проблемы, из за которых сайт нереально прочитать). После запуска проекта удобно использовать сервис http://browsershots.org/
                            Рекомендую использовать дивную вёрстку, все стили выносим в отдельный css файл. При этом основной контент сайта должен располагаться как можно ближе к началу исходного кода страницы. Например если у вас страница состоит из двух колонок, одна из которых — основной контент страницы (справа), а другая — сквозной список часто читаемых статей (слева), используйте floatы или отрицательные отступы.
                            В итоге вы должны получить статичную html страницу + css + jpg/png изображения — образец реальной страницы вашего сайта.
                            </span>
                            </div>
                        </div>
                  
                  <!-- comments -->
                  <div>
                    <form  ng-app="myApp" 
       ng-controller="commentCtrl as vm"  
       ng-submit="vm.addComment()">
                    
                    <div class="row comment" ng-repeat="item in vm.comments" ng-class-odd="'odd_comment'" ng-class-even="'even_comment'">
              <div class="col-xs-2 logo_nnm">
                <img src="img/logo_nnm.png">
              </div>
              <div class="col-xs-10">
                <span class="commentator"> <!-- автор -->
                  {{item.nameCommentator}} </span><span title="{{ item.date | date: 'dd/MM/yyyy, HH:mm:ss' }}">дата: {{item.date | date:'dd/MM/yyyy, HH:mm:ss'}}
                </span>
                

                <div>
                  {{item.description}}
                </div>
                
              </div>
          </div>
                    
                    <!-- <div>
                    <p>Комментарии:</p>
                    <div>
                    <div ng-repeat="item in vm.comments">
                      <div>автор: {{item.nameCommentator}}</div>
                      <div>текст: {{item.description}}</div>
                      <div title="{{ item.date | date: 'dd/MM/yyyy, HH:mm:ss' }}">дата: {{item.date | date:'dd/MM/yyyy, HH:mm:ss'}}</div>
                    </div> -->
                    



                    <div>Оставить новый комментарий</div>
                      
                      <input    type="text" 
                                name="comment" 
                                ng-model="vm.newComment.nameCommentator">
                                Name<br>
                      <input    type="text" 
                                name="comment" 
                                ng-model="vm.newComment.emailCommentator">
                                Email<br>
                      <input    type="text" 
                                name="comment" 
                                ng-model="vm.newComment.websiteCommentator">
                                Website<br>
                      <textarea name="comment"
                                cols="120" rows="10" 
                                ng-model="vm.newComment.description"></textarea>
                      <button type="submit" class="btn btn-danger btn-send">Send</button>
                    </div> <!-- ng-click="vm.addComment()" -->
                    </div>
                    </form>
                    </div>
                  </div>
                </div>
      				</div>              
      				<div class="col-xs-2 col-sm-4 block">
      					<p>categories</p>
      					<p>recent</p>
      					<p>tags</p>
      				</div>
    			</div>
    			<div class="row">
      				<div class="col-xs-12 block">
        				footer
      				</div>
    			</div>
  			</div>
		</div>
	</div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script>
      var app = angular.module('blogApp', []);
        app.controller('commentCtrl', function () {
        this.date = new Date();
        this.comments = [{
         nameCommentator: "anonymous",
         date: "25/08/2017, 12:27", 
         description: "комменнтарий комментатора, который комментирует блог"}
      ];
        
        this.resetComment = function() {
        this.newComment = {
        nameCommentator: "anonymous",
        date: Date.now(),
        time: Date.now(),
        description: null
    }
   }
   this.resetComment();


    this.addComment = function() { 
     var adds =  Object.assign({}, this.newComment);
             this.comments.push(adds);
             this.resetComment();
  
    console.log(this.newComment);
    }
      });
    </script>
  </body>
</html>